.Login-logo{
  width: 56%;
  margin: 0 auto;
  img{
    width: 100%;
  }
}
.Login-des{
  width: 100%;
  p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:#fff;
  }
}
.Login-form{
  width: 100%;
  .form-input{
    width: 240px;
    height: 40px;
    margin: 0px auto;
    overflow: hidden;
    input{
      width: 100%;
      height: 100%;
      padding-left: 10px;
      background: rgba(0,0,0,0.3);
      color:#fff;
    }
  }
  .form-input:nth-child(1){
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .form-input:nth-child(2){
    border-top:1px solid #666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .form-remember{
    width: 240px;
    height: 24px;
    margin-top: 8px;
    margin-left: 30px;
    .form-remember-radio{
      cursor: pointer;
      width: 100px;
      height: 100%;
      line-height:24px;
      font-size: 14px;
      input{
        width: 16px;
        height: 16px;
        border:2px solid #1890ff;
        border-radius: 4px;
        margin-top: 4px;
        display: inline-block;
        vertical-align: top;
        -webkit-appearance: none;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
      }
      input[type="checkbox"]:checked:before{
        content: '';
        color:#fff;
        background: #1890ff;
        display: block;
        width: 9px;
        height: 9px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 2px;
      }
      span{
        line-height: 24px;
        display: inline-block;
        vertical-align: top;
        margin-left: 6px;
        color:#1890ff;
      }
    }
  }
  .from-btn{
    width: 80%;
    height: 30px;
    border-radius: 4px;
    background: #1890ff;
    margin: 8px auto;
    text-align: center;
    color:#fff;
    cursor: pointer;
    line-height:30px;
    &:hover{
      background: #40a9ff;
    }
    &:active{
      background: #1890ff;
    }
  }
}