.Login{
  width: 100%;
  height: 100%;
  .Login-bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    padding: 0;
    margin: 0;
  }
  .Login-container{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-80%) translateX(-50%);
  }
}